In [1]:
# To store the data
import pandas as pd

# To do linear algebra
import numpy as np

from Functions import *

# To create plots
import matplotlib.pyplot as plt

# To create interactive plots
from plotly.offline import init_notebook_mode, plot, iplot
import plotly.graph_objs as go
init_notebook_mode(connected=True)

In [2]:
SourceDataFrame=pd.read_csv('train.csv')
SourceDataFrame.shape

(9800, 18)

In [3]:
print(SourceDataFrame.Region.value_counts())
SourceDataFrame[(SourceDataFrame["Region"]=='West')]

West       3140
East       2785
Central    2277
South      1598
Name: Region, dtype: int64

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620
5,6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860
6,7,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.280
7,8,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152
8,9,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9761,9762,CA-2015-121762,14/02/2015,18/02/2015,Standard Class,ML-17395,Marina Lichtenstein,Corporate,United States,Seattle,Washington,98103.0,West,TEC-AC-10000736,Technology,Accessories,Logitech G600 MMO Gaming Mouse,239.970
9762,9763,CA-2015-121762,14/02/2015,18/02/2015,Standard Class,ML-17395,Marina Lichtenstein,Corporate,United States,Seattle,Washington,98103.0,West,OFF-AP-10001293,Office Supplies,Appliances,Belkin 8 Outlet Surge Protector,81.960
9763,9764,CA-2015-121762,14/02/2015,18/02/2015,Standard Class,ML-17395,Marina Lichtenstein,Corporate,United States,Seattle,Washington,98103.0,West,OFF-SU-10000157,Office Supplies,Supplies,Compact Automatic Electric Letter Opener,238.620
9764,9765,CA-2015-123855,18/06/2015,23/06/2015,Standard Class,MC-18100,Mick Crebagga,Consumer,United States,Los Angeles,California,90036.0,West,TEC-PH-10000215,Technology,Phones,Plantronics Cordless Phone Headset with In-lin...,139.800
9768,9769,CA-2018-142328,07/12/2018,14/12/2018,Standard Class,TC-21535,Tracy Collins,Home Office,United States,San Francisco,California,94122.0,West,OFF-PA-10000380,Office Supplies,Paper,"REDIFORM Incoming/Outgoing Call Register, 11"" ...",50.040

# Step 1 : Data Analysis

In [4]:
SourceDataFrame.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales'],
      dtype='object')

In [19]:
SourceDataFrame.iloc('Region'=='t')

In [21]:
Stats_df=CalBasicStats(SourceDataFrame,'nonnumeric')

In [36]:
Stats_df

      ColumnName  AllCounts  NotNullCounts  UniqueCounts  %Missing
0       Order ID       9800           9800          4922       0.0
0     Order Date       9800           9800          1230       0.0
0      Ship Date       9800           9800          1326       0.0
0      Ship Mode       9800           9800             4       0.0
0    Customer ID       9800           9800           793       0.0
0  Customer Name       9800           9800           793       0.0
0        Segment       9800           9800             3       0.0
0        Country       9800           9800             1       0.0
0           City       9800           9800           529       0.0
0          State       9800           9800            49       0.0
0         Region       9800           9800             4       0.0
0     Product ID       9800           9800          1861       0.0
0       Category       9800           9800             3       0.0
0   Sub-Category       9800           9800            17       0.0
0   Product Name       9800           9800          1849       0.0

In [37]:
for i in Stats_df:
    print(i)

ColumnName
AllCounts
NotNullCounts
UniqueCounts
%Missing

In [7]:
Transactiondf=SourceDataFrame[['Sub-Category','Customer ID','Sales']]
Unique_Transactiondf = Transactiondf.drop_duplicates(keep='first')
Transactiondf=Unique_Transactiondf
Transactiondf_Sum=Transactiondf.groupby(['Sub-Category','Customer ID'])['Sales'].sum().reset_index()
Transactiondf_Sum['Sales']=Transactiondf_Sum['Sales'].round().astype(int)
Transactiondf_Sum=Transactiondf_Sum.rename(columns={'Customer ID':'CustId','Sub-Category':'CatId'})
Transactiondf_Sum=Transactiondf_Sum.pivot(index='CustId',columns='CatId',values='Sales')
Transactiondf_Sum=Transactiondf_Sum.fillna(0)