In [14]:
# %%
import os
import numpy as np
import pandas as pdcd \

from scipy.stats import kurtosis,skew

In [19]:

def CalBasicStats(Source_DF,type):

    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64','float16', 'float32', 'float64']
    nonnumericsAnddate=['object','datetime64[ns]']

    data = Source_DF
    newdf = pd.DataFrame()
    Resultdf= pd.DataFrame()

    if type=='numeric':
        Traversedf = data.select_dtypes(include=numerics)

        for i in Traversedf.columns:
            
        
        #newdf['DataSourceName']=[name]
            newdf['ColumnName']=[i]
            newdf['AllCounts'] = Traversedf[i].size
            newdf['NotNullCounts'] = Traversedf[i].count()
            newdf['UniqueCounts'] = Traversedf[i].nunique()
            
            newdf["%Zero"] = ((Traversedf[i] == 0).sum()/Traversedf[i].size)*100
            newdf["%Missing"]= 100-(Traversedf[i].count() / Traversedf[i].size)*100

            
            newdf['Min']=np.amin(Traversedf[i])
            newdf['Max']=np.amax(Traversedf[i])
            newdf['Mean']=np.mean(Traversedf[i])

            newdf['Average']=np.average(Traversedf[i])

            newdf['Median']=np.nanmedian(Traversedf[i],axis=0)
            newdf['StddDev']=np.std(Traversedf[i],axis=0)
            newdf['Var']=np.var(Traversedf[i],axis=0)

            newdf['Skewness']=skew(Traversedf[i].dropna())

            newdf['Kurtosis']=kurtosis(Traversedf[i].dropna())
    
            newdf['25Percentile'] = np.nanpercentile(Traversedf[i], 25,axis=0)
            newdf['50Percentile'] = np.nanpercentile(Traversedf[i], 50,axis=0)
            newdf['75Percentile'] = np.nanpercentile(Traversedf[i], 75,axis=0)
            
            
            # Resultdf=Resultdf.append(newdf)
            Resultdf=pd.concat((Resultdf, newdf), axis = 0)
        #newdf["UniueRecords"]=pd.count(Traversedf[i])
        return Resultdf

    else:
        Traversedf = data.select_dtypes(include=nonnumericsAnddate) 

        for i in Traversedf.columns:
                # print(i)
        #newdf['DataSourceName']=[name]
            newdf['ColumnName']=[i]
            newdf['AllCounts'] = Traversedf[i].size
            newdf['NotNullCounts'] = Traversedf[i].count()
            newdf['UniqueCounts'] = Traversedf[i].nunique()

            newdf["%Missing"]= 100-(Traversedf[i].count() / Traversedf[i].size)*100

            Resultdf=pd.concat((Resultdf, newdf), axis = 0)     

        return Resultdf

In [20]:
# Creating data
data = {
    'String1': ['Hello', 'World', 'Data', 'Science'],
    'String2': ['OpenAI', 'ChatGPT', 'Pandas', 'DataFrame'],
    'Float1': [3.14, 2.718, 1.414, 0.577],
    'Float2': [5.5, 10.0, 2.5, 8.8]
}
# Creating DataFrame
df = pd.DataFrame(data)

In [21]:
df_new1=CalBasicStats(df,'numeric')
df_new1

,ColumnName,AllCounts,NotNullCounts,UniqueCounts,%Zero,%Missing,Min,Max,Mean,Average,Median,StddDev,Var,Skewness,Kurtosis,25Percentile,50Percentile,75Percentile
0,Float1,4,4,4,0.0,0.0,0.577,3.14,1.96225,1.96225,2.066,1.021977,1.044437,-0.177458,-1.619688,1.20475,2.066,2.8235
0,Float2,4,4,4,0.0,0.0,2.500,10.00,6.70000,6.70000,7.150,2.931723,8.595000,-0.303772,-1.472794,4.75000,7.150,9.1000

In [22]:
df_new2=CalBasicStats(df,'NOnNumeric')
df_new2

  ColumnName  AllCounts  NotNullCounts  UniqueCounts  %Missing
0    String1          4              4             4       0.0
0    String2          4              4             4       0.0