In [1]:
# The Notebook contains Stats FUnctions and how to interpret 

import pandas as pd
import numpy as np
from scipy.stats import kurtosis
from scipy.stats import skew

In [5]:
# 1. Dataset Load 
SourceDF=pd.read_csv('leetcode.csv')

In [12]:
# 2 . Stats FUnction 

def CalBasicStats(Source_DF,type):
    data = Source_DF
    newdf = pd.DataFrame()
    Resultdf= pd.DataFrame()

    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    numericsflots = ['float16', 'float32', 'float64']
    nonnumerics =['object']
    date=['datetime64[ns]','datetime64']
    nonnumericsAnddate=['object','datetime64[ns]']

    if type=='numeric':
        Traversedf = data.select_dtypes(include=numerics)

        for i in Traversedf.columns:
            
        
        #newdf['DataSourceName']=[name]
            newdf['ColumnName']=[i]

            newdf['AllCounts'] = Traversedf[i].size
            newdf['NotNullCounts'] = Traversedf[i].count()
            newdf['UniqueCounts'] = Traversedf[i].nunique()
            
            newdf["%Zero"] = ((Traversedf[i] == 0).sum()/Traversedf[i].size)*100
            newdf["%Missing"]= 100-(Traversedf[i].count() / Traversedf[i].size)*100

            
            newdf['Min']=np.amin(Traversedf[i])
            newdf['Max']=np.amax(Traversedf[i])
            newdf['Mean']=np.mean(Traversedf[i])

            newdf['Average']=np.average(Traversedf[i])

            newdf['Median']=np.nanmedian(Traversedf[i],axis=0)
            newdf['StddDev']=np.std(Traversedf[i],axis=0)
            newdf['Var']=np.var(Traversedf[i],axis=0)

            newdf['Skewness']=skew(Traversedf[i].dropna())

            newdf['Kurtosis']=kurtosis(Traversedf[i].dropna())
    
            newdf['25Percentile'] = np.nanpercentile(Traversedf[i], 25,axis=0)
            newdf['50Percentile'] = np.nanpercentile(Traversedf[i], 50,axis=0)
            newdf['75Percentile'] = np.nanpercentile(Traversedf[i], 75,axis=0)
            
            
            # Resultdf=Resultdf.append(newdf)
            Resultdf=pd.concat((Resultdf, newdf), axis = 0)
        #newdf["UniueRecords"]=pd.count(Traversedf[i])
        return Resultdf

    else:
        Traversedf = data.select_dtypes(include=nonnumerics) 

        for i in Traversedf.columns:
                # print(i)
        #newdf['DataSourceName']=[name]
            newdf['ColumnName']=[i]
            newdf['AllCounts'] = Traversedf[i].size
            newdf['NotNullCounts'] = Traversedf[i].count()
            newdf['UniqueCounts'] = Traversedf[i].nunique()

            newdf["%Missing"]= 100-(Traversedf[i].count() / Traversedf[i].size)*100

            Resultdf=pd.concat((Resultdf, newdf), axis = 0)     

        return Resultdf

# outdf_numeric = CalBasicStats(Sourcedf,'numeric')
# outdf_nonnumeric = CalBasicStats(Sourcedf,'Non-numeric')

In [13]:
# Running All Stats Functions 
NumericFeats_StatsSummary=CalBasicStats(SourceDF,'numeric')
NumericFeats_StatsSummary

,ColumnName,AllCounts,NotNullCounts,UniqueCounts,%Zero,%Missing,Min,Max,Mean,Average,Median,StddDev,Var,Skewness,Kurtosis,25Percentile,50Percentile,75Percentile
0,id,3000,3000,3000,0.000000,0.0,1.0,3000.0,1500.500000,1500.500000,1500.5,8.660254e+02,7.499999e+05,0.000000,-1.200000,750.75,1500.5,2250.25
0,page_number,3000,3000,60,0.000000,0.0,1.0,60.0,30.500000,30.500000,30.5,1.731810e+01,2.999167e+02,0.000000,-1.200667,15.75,30.5,45.25
0,no_similar_questions,3000,2160,16,27.100000,28.0,0.0,21.0,1.448611,NaN,1.0,1.809990e+00,3.276063e+00,2.468646,11.900846,0.00,1.0,2.00
0,acceptance,3000,3000,674,0.000000,0.0,11.3,94.2,55.610367,55.610367,55.0,1.570005e+01,2.464916e+02,0.096409,-0.584864,44.00,55.0,66.70
0,accepted,3000,2160,1351,0.000000,28.0,1200.0,11300000.0,247887.824074,NaN,66300.0,5.371762e+05,2.885583e+11,6.954171,95.639139,23500.00,66300.0,215150.00
0,submission,3000,2160,1481,0.000000,28.0,2400.0,22100000.0,475256.481481,NaN,116900.0,1.118124e+06,1.250201e+12,7.339891,92.372967,48975.00,116900.0,385075.00
0,solution,3000,2160,788,0.000000,28.0,24.0,26800.0,1653.675926,NaN,706.0,2.515241e+03,6.326435e+06,3.351890,15.104497,286.00,706.0,1900.00
0,discussion_count,3000,2160,173,0.566667,28.0,0.0,638.0,27.246296,NaN,12.0,4.066621e+01,1.653740e+03,4.467745,37.384417,6.00,12.0,33.00
0,likes,3000,2160,787,0.000000,28.0,15.0,52700.0,2774.904630,NaN,1100.0,4.185599e+03,1.751924e+07,3.514234,19.724534,456.00,1100.0,3200.00
0,dislikes,3000,2160,620,0.000000,28.0,1.0,17200.0,403.934259,NaN,132.0,9.864650e+02,9.731131e+05,8.429965,102.299393,44.00,132.0,354.25

In [14]:
NONNumericFeats_StatsSummary=CalBasicStats(SourceDF,'Nonnumeric')
NONNumericFeats_StatsSummary

            ColumnName  AllCounts  NotNullCounts  UniqueCounts  %Missing
0                title       3000           3000          3000       0.0
0  problem_description       3000           2160          2160      28.0
0           topic_tags       3000           2160           826      28.0
0           difficulty       3000           3000             3       0.0
0    similar_questions       3000           2160          1280      28.0
0          problem_URL       3000           3000          3000       0.0
0         solution_URL       3000           3000          3000       0.0