In [2]:
import pandas as pd

In [3]:
Train=pd.read_csv('/Users/rohit.jishtu/Documents/GitHub/NewMachine/Projects/ML Projects/Project 7 - Bank Marketing Data/bank/bank-full.csv',sep=';')

In [5]:
Train

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [6]:
test=pd.read_csv('/Users/rohit.jishtu/Documents/GitHub/NewMachine/Projects/ML Projects/Project 7 - Bank Marketing Data/bank/bank.csv',sep=';')

In [8]:
test.shape

(4521, 17)

In [1]:
import numpy as np
import logging 
# Setup logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger()

###### Custom Imports 
import sys
sys.path.append("/Users/rohit.jishtu/Documents/GitHub/NewMachine/Projects/MLOps/CompleteML/ModelBuild")
from Stats import *
from LoadData import * 
from Model import *

In [4]:
sys.path.append("/Users/rohit.jishtu/Documents/GitHub/NewMachine/Projects/ML Projects/Project 7 - Bank Marketing Data")
# print(sys.path)
data = pd.read_csv('bank/bank-full.csv',sep=';')
if data is None:
    print("Failed to load data.")

print(data.columns)

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [10]:
import numpy as np
import logging 
# Setup logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger()

###### Custom Imports 
import sys
sys.path.append("/Users/rohit.jishtu/Documents/GitHub/NewMachine/Projects/MLOps/CompleteML/ModelBuild")
from Stats import *
from LoadData import * 
from Model import *

#--------- Step1 : Source ------------------------------------------------------
sys.path.append("/Users/rohit.jishtu/Documents/GitHub/NewMachine/Projects/ML Projects/Project 7 - Bank Marketing Data")
# print(sys.path)
data = pd.read_csv('bank/bank-full.csv',sep=';')
if data is None:
    print("Failed to load data.")

print(data.columns)

#--------- Step 2 : Target Definition ------------------------------------------------------

data['Target'] = data['y'].apply(lambda x : 1 if x=='yes' else 0)
print(data['Target'].value_counts()/data.shape[0])

#--------- Step 3 : Running the stats ------------------------------------------------------

outdf_numeric = CalBasicStats(data,'numeric')
outdf_nonnumeric = CalBasicStats(data,'Non-numeric')

print(outdf_numeric.head(5))

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')
Target
0    0.883015
1    0.116985
Name: count, dtype: float64
  ColumnName  AllCounts  NotNullCounts  UniqueCounts     %Zero  %Missing  \
0        age      45211          45211            77  0.000000       0.0
0    balance      45211          45211          7168  7.772445       0.0
0        day      45211          45211            31  0.000000       0.0
0   duration      45211          45211          1573  0.006636       0.0
0   campaign      45211          45211            48  0.000000       0.0

    Min     Max         Mean      Average  Median      StddDev           Var  \
0    18      95    40.936210    40.936210    39.0    10.618645  1.127556e+02
0 -8019  102127  1362.272058  1362.272058   448.0  3044.732156  9.270394e+06
0     1      31    15.806419    15.806419    16.0     8.322384  6.926208e+01
0     0    4918   258.163080   258.163080   180.0   257.524964  6.631911e+04
0     1      63     2.763841     2.763841     2.0     3.097987  9.597521e+00

   Skewness    Kurtosis  25Percentile  50Percentile  75Percentile
0  0.684795    0.319402          33.0          39.0          48.0
0  8.360031  140.735848          72.0         448.0        1428.0
0  0.093076   -1.059913           8.0          16.0          21.0
0  3.144214   18.151775         103.0         180.0         319.0
0  4.898488   39.245178           1.0           2.0           3.0

In [61]:
# Numeric Features 

data.shape

(45211, 18)

In [58]:
Columns =[]
outdf_numeric=outdf_numeric[(outdf_numeric['%Zero']<40) & (outdf_numeric['%Missing'] < 30)]
Columns=outdf_numeric['ColumnName'].to_list()


Columns =[]
outdf_nonnumeric=outdf_nonnumeric[(outdf_numeric['%Zero']<40) & (outdf_numeric['%Missing'] < 30)]
Columns2=outdf_nonnumeric['ColumnName'].to_list()

/var/folders/vr/rvvf5fcn6957xk3723kv68km0000gn/T/ipykernel_84814/2068093018.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  outdf_nonnumeric=outdf_nonnumeric[(outdf_numeric['%Zero']<40) & (outdf_numeric['%Missing'] < 30)]

In [67]:
Columns2

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'poutcome']

In [84]:
import pandas as pd
from scipy.stats import chi2_contingency

# Assuming 'main_data' is your main DataFrame and 'categorical_features' is a list of categorical feature names

# Perform chi-square test for each categorical feature
selected_features = []
for feature in Columns2:
    contingency_table = pd.crosstab(data[feature], data['y'])
    chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table)
    # Select features with a p-value less than a certain significance level (e.g., 0.05)
    # print(p_value)
    if p_value < 0.05:
        selected_features.append(feature)


selected_features

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'poutcome']

In [ ]:


# Create dummy variables for the selected features
dummy_variables = pd.get_dummies(data['job'], drop_first=True)
# Merge the main data with the dummy variables
merged_data = pd.concat([data, dummy_variables], axis=1)

print(merged_data.columns)  # Verify the merged data

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y', 'Target', 'blue-collar', 'entrepreneur',
       'housemaid', 'management', 'retired', 'self-employed', 'services',
       'student', 'technician', 'unemployed', 'unknown'],
      dtype='object')

In [ ]:
import numpy as np
import logging 
# Setup logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger()
from scipy.stats import chi2_contingency


###### Custom Imports 
import sys
sys.path.append("/Users/rohit.jishtu/Documents/GitHub/NewMachine/Projects/MLOps/CompleteML/ModelBuild")
from Stats import *
from LoadData import * 
from Model import *

#--------- Step1 : Source ------------------------------------------------------
sys.path.append("/Users/rohit.jishtu/Documents/GitHub/NewMachine/Projects/ML Projects/Project 7 - Bank Marketing Data")
# print(sys.path)
data = pd.read_csv('bank/bank-full.csv',sep=';')
if data is None:
    print("Failed to load data.")

print(data.columns)

#--------- Step 2 : Target Definition ------------------------------------------------------

data['Target'] = data['y'].apply(lambda x : 1 if x=='yes' else 0)
print(data['Target'].value_counts()/data.shape[0])

#--------- Step 3 : Running the stats ------------------------------------------------------

outdf_numeric = CalBasicStats(data,'numeric')
outdf_nonnumeric = CalBasicStats(data,'Non-numeric')


keys=['y']
Selected=[]
# Selected =[col for col in Selected if col not in keys ]


# outdf_nonnumeric=outdf_nonnumeric[(outdf_numeric['%Zero']<40) & (outdf_numeric['%Missing'] < 30)]
# Columns2=outdf_nonnumeric['ColumnName'].to_list()

# outdf_numeric=outdf_numeric[(outdf_numeric['%Zero']<40) & (outdf_numeric['%Missing'] < 30)]
# Columns2=outdf_numeric['ColumnName'].to_list()

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')
Target
0    0.883015
1    0.116985
Name: count, dtype: float64

In [99]:
keys=['y','Target']
Selected =[]


outdf_nonnumeric=outdf_nonnumeric[(outdf_nonnumeric['UniqueCounts']>1)]
Columns2=outdf_nonnumeric['ColumnName'].to_list()

In [103]:
data[selected_cat_features]

,job,marital,education,default,housing,loan,contact,month,poutcome,y
0,management,married,tertiary,no,yes,no,unknown,may,unknown,no
1,technician,single,secondary,no,yes,no,unknown,may,unknown,no
2,entrepreneur,married,secondary,no,yes,yes,unknown,may,unknown,no
3,blue-collar,married,unknown,no,yes,no,unknown,may,unknown,no
4,unknown,single,unknown,no,no,no,unknown,may,unknown,no
...,...,...,...,...,...,...,...,...,...,...
45206,technician,married,tertiary,no,no,no,cellular,nov,unknown,yes
45207,retired,divorced,primary,no,no,no,cellular,nov,unknown,yes
45208,retired,married,secondary,no,no,no,cellular,nov,success,yes
45209,blue-collar,married,secondary,no,no,no,telephone,nov,unknown,no
45210,entrepreneur,married,secondary,no,no,no,cellular,nov,other,no

In [101]:
selected_cat_features = []
for feature in Columns2:
    contingency_table = pd.crosstab(data[feature], data['y'])
    chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table)
    if p_value < 0.05:
        selected_cat_features.append(feature)

In [125]:
import numpy as np
import logging 
# Setup logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger()
from scipy.stats import chi2_contingency


###### Custom Imports 
import sys
sys.path.append("/Users/rohit.jishtu/Documents/GitHub/NewMachine/Projects/MLOps/CompleteML/ModelBuild")
from Stats import *
from LoadData import * 
from Model import *

#--------- Step1 : Source ------------------------------------------------------
sys.path.append("/Users/rohit.jishtu/Documents/GitHub/NewMachine/Projects/ML Projects/Project 7 - Bank Marketing Data")
# print(sys.path)
data = pd.read_csv('bank/bank-full.csv',sep=';')
if data is None:
    print("Failed to load data.")

print(data.columns)

#--------- Step 2 : Target Definition ------------------------------------------------------

data['Target'] = data['y'].apply(lambda x : 1 if x=='yes' else 0)
print(data['Target'].value_counts()/data.shape[0])

#--------- Step 3 : Running the stats ------------------------------------------------------

outdf_numeric = CalBasicStats(data,'numeric')
outdf_nonnumeric = CalBasicStats(data,'Non-numeric')




#--------- Step 4 : Feature Selection ------------------------------------------------------

keys=['y']
Selected =[]


outdf_nonnumeric=outdf_nonnumeric[(outdf_nonnumeric['UniqueCounts']>1)]
Columns2=outdf_nonnumeric['ColumnName'].to_list()


# 1. categorical Feature Selction Stratergy 
selected_cat_features = []
for feature in Columns2:
    contingency_table = pd.crosstab(data[feature], data['y'])
    chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table)
    if p_value < 0.05:
        selected_cat_features.append(feature)


# 2 . Numerical Feature Selection Category 

outdf_numeric=outdf_numeric[(outdf_numeric['%Zero']<40) & (outdf_numeric['%Missing'] < 30)]
Selected.extend(outdf_numeric['ColumnName'].to_list())

# print(data.columns)
# print(Selected)

# Modifying data based on selected.
TrainingData=data[Selected]
for column in selected_cat_features:
    dummy_variables = pd.get_dummies(data[column], drop_first=True)
    prefix = str(column+'_')
    dummy_variables = dummy_variables.astype(int)
    dummy_variables = dummy_variables.add_prefix(prefix)
    TrainingData = pd.concat([TrainingData , dummy_variables], axis=1)


print(TrainingData['job_management'])  # Verify the merged data

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')
Target
0    0.883015
1    0.116985
Name: count, dtype: float64
0        1
1        0
2        0
3        0
4        0
        ..
45206    0
45207    0
45208    0
45209    0
45210    0
Name: job_management, Length: 45211, dtype: int64

In [127]:
SelectedFeatures=TrainingData.columns

CorrelatedList,CorrelationDF=CorrAttributesList(data,'Target',0.02)
CorrelatedList=CorrelatedList.to_list()

CorrelatedList
# # remove all feature from Selected list which are not in Corelation list 
# for column in SelectedFeatures:
#     if column not in CorrelatedList:
#         print(f'{column=} is not crossing correlation limit')
#         SelectedFeatures.remove(column)

ValueError: could not convert string to float: 'management'

In [ ]:


#--------- Step 4 : Feature Selection ------------------------------------------------------


# 1. categorical Feature Selction Stratergy 

# 2 . Numerical Feature Selection Category 




# Modifying data based on selected.